@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background-color: rgb(20, 15, 15);
    color: wheat;
}
.container {
    height:10%;
    width:100% ;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;

}
.icons {
    
    display: flex;
    flex-direction: row;

}
.first-image { 
    height: 40%;
    width: 100%;
}


.image {
    max-height: 100%;
        max-width: 100%;
        width: 100%;
        height: 100%;
}  
.second-images {
    display:flex;
    width: 50vw;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    

}
.image-topleft {
    background-size: 100% 100%;

        background-position:left;
        height: 10vh;
    background-position: top left;
}
 
    
    