@import url("https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap");
* {
  box-sizing: border-box;
}
body {
  background-color: blueviolet;
  color: white;
  font-family: "Roboto Mono", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.counter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 50px;
}

.counter {
  font-size: 60px;
  margin-bottom: 10px;
}

@media (max-width: 500px) {
  body {
    flex-direction: column;
  }
}
