@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  box-sizing: border-box;
}
body {
  background-color: antiquewhite;
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

img {
  max-width: 100%;
}

.card {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  width: 350px;
}
.card-header img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.card-content {
  padding: 30px;
  background-color: bisque;
}
.card-title {
  height: 20px;
  margin: 0;
}

.card-excerpt {
  color: whitesmoke;
  margin: 10px 0 20px;
}

.author {
  display: flex;
}

.profile-img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  overflow: hidden;
}

.author-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 10px;
  width: 100%;
}

.author-info small {
  color: gray;
  margin-top: 5px;
}
