@import url("https://fonts.googleapis.com/css?family=Open+Sans");
* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  color: rgb(0, 0, 0);
  margin: 0 auto;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

/*@todo Nav */

.hero {
  background: url("https://images.pexels.com/photos/2101187/pexels-photo-2101187.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  margin-bottom: 20px;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.hero h1 {
  color: #000000;
  font-size: 46px;
  margin: -20px 0 20px;
}

.hero p {
  font-size: 20px;
  letter-spacing: 1px;
}

.content h2 .content h3 {
  font-size: 150%;
  margin: 10px 0;
}

.content p {
  color: #333;
  line-height: 30px;
  letter-spacing: 1.2px;
}
